.containerSections{
    width: 100%;
    min-height: 65px;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(#ffffff, #ceccc8);
    box-shadow: 0 10px 6px -6px #777;
}

.btnAnimation{
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: reverse ;
}
@keyframes move {
    0%{
        left: 0;
    }
    10%{
        opacity: 0.8;
    }
    20%{
        opacity: 0.6;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.2;
    }
    80%{
        opacity: 1;
    }
    100%{
        left: 150%;
        opacity: 0;
    }  

}
    /*///////////////////////////////////////////////////////
    ////////////////////////MEDIA QUERIES////////////////////
    ////////////////////////////////////////////////////////*/

@media(max-width:480px){
    .containerSections{
        padding: 3px;
        min-height: 50px;
    }
} 
@media(max-width: 770px){
    .containerSections{
        border-radius: 0;
    }
}   




