#fullContainer{
    margin-left: 10%;
    width: 80%;
}

#containerInfoBackground{
    width: 100%;
    min-height: 500px;
    border-radius: 5px;
    background: linear-gradient(#ceccc8, #aaa9a7);
    box-shadow: 0 -5px 6px -6px #777;   
    margin-top: 10px;
    margin-bottom: 10px;
}
#containerNews{
    display: grid;
    width: 96%;
    margin-left: 2%;
    min-height: 400px;
    margin-top: 10px;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: linear-gradient(#ffffff, #ceccc8);
}
#containerMenu{
    grid-column: 1/12;
}

#containerTopics{
    grid-column: 1/4;
    min-height: 380px;
    margin: 10px 0px 10px 5px;
    border-radius: 3px;
}
#containerAside{
    grid-column: 4/5;
    min-height: 380px;
    margin: 10px 5px 10px 5px;
    border-radius: 3px;
}

/*///////////////////////////////////////////////////////
////////////////////////MEDIA QUERIES////////////////////
////////////////////////////////////////////////////////*/

@media(max-width: 770px){
    #fullContainer{
        width: 100%;
        margin-left: 0;
    }
}  

@media(max-width: 685px){
    #containerNews{
        margin-left: 0;
        width: 100%;
    }

}
@media(max-width: 480px){
    #containerTopics{
        grid-column: 1/5;
        min-height: 280px;
    }
    #containerAside{
        grid-column: 1/5;
        min-height: 180px;
    }
}