.btn{
    color: white;
    margin: 2px;
    background: linear-gradient(#fff,#000);
}
#containerMenuComunities{
    width: 96%;
    margin: 10px 10px 0px 10px;
    min-height: 60px;
    border-radius: 5px;
    padding: 10px;
}

