.btn{
    color: white;
    margin: 2px;
    font-size: 16px;
    background: linear-gradient(#fff,#000);
}
#containerMenuComunities{
    width: 96%;
    margin: 10px 10px 0px 10px;
    min-height: 60px;
    border-radius: 5px;
    padding: 10px;
}

/*///////////////////////////////////////////////////////
////////////////////////MEDIA QUERIES////////////////////
////////////////////////////////////////////////////////*/

@media (max-width: 480px){
    .btn{
        font-size: 13.5px;
    }
    #containerMenuComunities{
        margin: 5px 5px 0px 5px;
        padding: 0;
        min-height: 45px;
    }
}  
